<% layout('layouts/boilerplate') %>
    <h1>All Tabletop Shops</h1>
    <div id="newShop">
        <a href="/shops/new">Add a Tabletop Shop</a>
    </div>
    <div>
        <ul>
            <% for (let shop of shops) { %>
                <li>
                    <section class="container">
                        <div class="shopImgContainer">
                            <img class="shopImg" src="<%= shop.image %>" alt="">
                        </div>
                        <div class="shopIndex">
                            <p id="shopName">
                                <%= shop.name %>
                            </p>
                            <p id="shopLocation">
                                <%= shop.location %>
                            </p>
                            <a id="viewShop" href="shops/<%= shop._id %>">View <%= shop.name %></a>
                        </div>
                    </section>
                </li>
                <% } %>
        </ul>
    </div>